<div class="comment">
	<div class="level-one">
		<div class="left">
			<img src="<%= image_path('user-icon.gif') %>" alt=""><br><%= link_to comment.user.login, user_path(comment.user.login) %>
		</div>
		<div class="right">
			<%= comment.text %>
			<div class="secondary">Added <%= time_ago(comment.created_at) %></div>
			<!--<a href="#"><img src="images/btn-reply.gif" alt="reply" /></a>-->
		</div>
		<div class="clear-both"></div>
	</div>
</div>