<p>
	Please delete your old Shumarklet and drag this <b>new</b> one into your bookmark bar.
</p>
<p>
	<a href="<%=shumarklet_url%>" id="big-shumarklet-button" class="top-corners bottom-corners">
		Shumark it!
	</a> 
</p>
<p>
	<a href="<%=params[:url]%>" class="small-button">Click here</a> to go back to the page you were just on and enjoy the new Shumarklet!
</p>