<div class="ui-widget">	
	<div class="content-section">
		<div style="padding-bottom:10px;">
			<% if @is_following then %>
				<%= link_to "Unfollow", unfollow_path(@user), :class => "small-button"%>
			<% elsif !@is_self %>
				<%= link_to "Follow", follow_path(@user), :class => "small-button"%>
			<% end %>
		</div>
		
		<div>
			<% if @links.length == 0 %>
				No Shumarks... yet!
		  <% else %>
				<%= render '/links/index' %>
		  <% end %>
		</div>
  </div>
</div>