<div>
	<% if @links.length == 0 then %>
		<div>Nothing here... Find your friends!</div>
	<% else %>
		<%= render '/links/index', :links => @links %>
		<%= render '/layouts/pagination', :redir_path => user_home_path %>
	<% end %>	
</div>

