<html>
	<head>
		<meta http-equiv="refresh" content="5; url=<%= @link.url -%>">
		<%= render 'layouts/header.html' %>
	</head>
	<body>
		<div id="body">
			Success! Shumark added successfully. You'll be redirected back in 5 seconds. If it doesn't redirect,
			<a href="<%= @link.url %>">click here</a>.
		</div>
	</body>
</html>