<section class="style-two icon-list">
	<h3>Followers (<%= @user.followers.count %>)</h3>
	<section>
	<% for follower in @user.followers.all(:limit => 3)-%>
		<div class="item"><a href="<%= user_path(follower.login) %>"><img src="<%= image_path('user-icon.gif') %>" alt="" class="fade" /></a></div>
	<% end -%>
		<div class="clear-both"></div>
	</section>
</section>