<section class="style-one icon-list">
	<h3>Following (<%= @user.followees.count %>)</h3>
	<section>
	<% for followee in @user.followees.all(:limit => 16)-%>
		<div class="item">
		  <%= render '/users/profile_pic', :user => followee %>
    </div>
	<% end -%>
		<div class="clear-both"></div>
	</section>
</section>