<section class="style-one icon-list">
    <h3>Top Topics</h3>
    <section>
    	<div class="item"><a href="#"><img src="images/topic-icon.gif" alt="" class="fade"></a></div>
        <div class="item"><a href="#"><img src="images/topic-icon.gif" alt="" class="fade"></a></div>
        <div class="item"><a href="#"><img src="images/topic-icon.gif" alt="" class="fade"></a></div>
        <div class="item no-right-margin"><a href="#"><img src="images/topic-icon.gif" alt="" class="fade"></a></div>
        <div class="clear-both"></div>
        <div class="item"><a href="#"><img src="images/topic-icon.gif" alt="" class="fade"></a></div>
        <div class="item"><a href="#"><img src="images/topic-icon.gif" alt="" class="fade"></a></div>
        <div class="item"><a href="#"><img src="images/topic-icon.gif" alt="" class="fade"></a></div>
        <div class="item no-right-margin"><a href="#"><img src="images/topic-icon.gif" alt="" class="fade"></a></div>
        <div class="clear-both"></div>
        <div class="item"><a href="#"><img src="images/topic-icon.gif" alt="" class="fade"></a></div>
        <div class="item"><a href="#"><img src="images/topic-icon.gif" alt="" class="fade"></a></div>
        <div class="item"><a href="#"><img src="images/topic-icon.gif" alt="" class="fade"></a></div>
        <div class="item no-right-margin"><a href="#"><img src="images/topic-icon.gif" alt="" class="fade"></a></div>
        <div class="clear-both"></div>
        <div class="item no-btm-margin"><a href="#"><img src="images/topic-icon.gif" alt="" class="fade"></a></div>
        <div class="item no-btm-margin"><a href="#"><img src="images/topic-icon.gif" alt="" class="fade"></a></div>
        <div class="item no-btm-margin"><a href="#"><img src="images/topic-icon.gif" alt="" class="fade"></a></div>
        <div class="item no-right-margin no-btm-margin"><a href="#"><img src="images/topic-icon.gif" alt="" class="fade"></a></div>
        <div class="clear-both"></div>
    </section>
</section>