/* --------------------------------------------------------------

   reset.css
   * Resets default browser CSS.

-------------------------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
    display:block;
}

body {
  line-height: 1.5;
}

/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }

html {height: 100%}
body {background: transparent url('/images/shumarksbg.jpg') scroll no-repeat 0 0;color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   14px;
  line-height: 18px;

}

body { margin: 0 auto; width: 1000px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #333; text-decoration: none; font-weight: bold;}
a:hover {text-decoration: underline; }

.fieldWithErrors { padding: 2px; background-color: red; display: table; }

#errorExplanation { width: 400px; border: 2px solid red; padding: 7px; padding-bottom: 12px; margin-bottom: 20px; background-color: #f0f0f0; }
#errorExplanation h2 { text-align: left; font-weight: bold; padding: 5px 5px 5px 15px; font-size: 12px; margin: -7px; background-color: #c00; color: #fff; }
#errorExplanation p { color: #333; margin-bottom: 0; padding: 5px;}
#errorExplanation ul li { font-size: 12px; list-style: square; }

#header { clear: both; }
#header .left { float: left; }
#header .right { float: right; }

#notifications { clear: both; }

#leftNav { float: left;}
#leftNav td {border: 1px solid #000; text-align: center; width: 100px;}
#leftNav td.mouseOver { background-color: #999; }
#leftNav td.mouseOut { background-color: #fff; }
#leftNav td a { font-size: 15px;  }
#leftNav td a:hover { font-size: 15px; text-decoration: none;  }

#content { float: right; width: 850px; border-left: 1px solid #999; padding-left:35px;  }

a.link { color: #999;}

.linksTable td {padding:2px 5px 2px 0; }
.linksTable td.delete {text-align: center; }
.linksTable td#pastLinks {text-align: center; font-weight:bold; }

.pad{padding:5px;}
.none{float:none;}

body.renderLink {margin:0; width: 100%; height: 100%; overflow:hidden;}

#viewLink {width:100%; height:100%}
#viewLink td {width: 100%;}
#viewLink td#renderingArea {height:100%}
#viewLinkIFrame {width:100%; height:100%}

#header{min-height:50px;border-bottom:1px solid #e3e3e3;background:#fff;padding:10px;}
#container{background:#fff;width:960px;}
.sm-twitter{height:44px;width:40px;background: url("/images/social-media-icons.jpg") no-repeat scroll -44px -1px transparent;display:block;}
.sm-facebook{height:44px;width:40px;background: url("/images/social-media-icons.jpg") no-repeat scroll -4px -44px transparent;display:block;}
