html {height: 100%}
body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;

}

body { margin: 0 auto; width: 1000px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #333; text-decoration: none; font-weight: bold;}
a:hover {text-decoration: underline; }

.fieldWithErrors { padding: 2px; background-color: red; display: table; }

#errorExplanation { width: 400px; border: 2px solid red; padding: 7px; padding-bottom: 12px; margin-bottom: 20px; background-color: #f0f0f0; }
#errorExplanation h2 { text-align: left; font-weight: bold; padding: 5px 5px 5px 15px; font-size: 12px; margin: -7px; background-color: #c00; color: #fff; }
#errorExplanation p { color: #333; margin-bottom: 0; padding: 5px;}
#errorExplanation ul li { font-size: 12px; list-style: square; }

#header { clear: both; }
#header .left { float: left; }
#header .right { float: right; }

#notifications { clear: both; }

#leftNav { float: left;}
#leftNav td {border: 1px solid #000; text-align: center; width: 100px;}
#leftNav td.mouseOver { background-color: #999; }
#leftNav td.mouseOut { background-color: #fff; }
#leftNav td a { font-size: 15px;  }
#leftNav td a:hover { font-size: 15px; text-decoration: none;  }

#content { float: right; width: 850px; border-left: 1px solid #999; padding-left:35px;  }

a.link { color: #999;}

.linksTable td {padding:2px 5px 2px 0; }
.linksTable td.delete {text-align: center; }
.linksTable td#pastLinks {text-align: center; font-weight:bold; }

.pad{padding:5px;}

body.renderLink {margin:0; width: 100%; height: 100%; overflow:hidden;}

#viewLink {width:100%; height:100%}
#viewLink td {width: 100%;}
#viewLink td#renderingArea {height:100%}
#viewLinkIFrame {width:100%; height:100%}

#header{min-height:50px;border-bottom:1px solid #e3e3e3;}
.sm-twitter{height:44px;width:40px;background: url("/images/social-media-icons.jpg") no-repeat scroll -44px -1px transparent;display:block;}
.sm-facebook{height:44px;width:40px;background: url("/images/social-media-icons.jpg") no-repeat scroll -4px -44px transparent;display:block;}
