/* the overlayed element */
div.shumarks {
	position: absolute;
	right: 10px;
	top: 10px;

	/* place overlay on top of other elements */
	z-index:10000;

	/* styling */
	background-color:#D4CCB0;

	width:475px;	
	min-height:200px;
	height: 450px;
	border:1px solid #D4CCB0;
	padding:5px;

	/* CSS3 styling for latest browsers */
	/*-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;	*/

	-moz-border-radius-topleft: 6px;  -webkit-border-top-left-radius: 6px; border-top-left-radius:6px; 
	-moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius:6px;
	-moz-border-radius-bottomleft: 6px;  -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius:6px; 
	-moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius:6px;
}

div.shumarks #shumarks-close {
	z-index:10001;
	position:absolute;
	top: -14px;
	right: -14px;
	cursor:pointer;
}

iframe.shumarks {
	width: 100%;	
	height: 100%;
	border: none;

	-moz-border-radius-topleft: 6px;  -webkit-border-top-left-radius: 6px; border-top-left-radius:6px; 
	-moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius:6px;
	-moz-border-radius-bottomleft: 6px;  -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius:6px; 
	-moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius:6px;
}