<% if ENV['RAILS_ENV'] == 'production' %>
	<script type="text/javascript"><!--
		google_ad_client = "ca-pub-7279077462237001";
		/* Shumarks */
		google_ad_slot = "9763376627";
		google_ad_width = 728;
		google_ad_height = 90;
		//-->
	</script>
	<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
<% else %>
	<div style="margin-left:auto; margin-right:auto; width:728px; height:90px; background:#fff; margin-bottom:10px">
		Ad goes here
	</div>
<% end %>