<section id="shumarks">
	<h2>Welcome to Shumarks!</h2>
	<div>Do you have 60 seconds for a super, <em>super</em> quick tutorial to get you started?</div>
	<br />
	<br />
	<div align="center">
		<table border="0">
			<tr>
				<td width="175"><h2><%= link_to 'Let\'s do it!', tutorial_step1_path %></h2></td>
				<td width="175"><h2><%= link_to 'No thanks.', user_path(current_user.login), :style => "color:#f14444" %></h2></td>
			</tr>
		</table>
	</div>
	
</section>