<section id="shumarks">
	<h2>Find your friends.</h2>
	<p>Shumarks is built for sharing links with your friends and discovering content.</p>
	<br />
	<p>Use the tools below to pull in friends from your various social networks.  Feel free to experiment&mdash;they won't be notified you're following them on Shumarks.</p>
	<br />
	<%= render 'users/friend_finder_component'%>
	<br />
	<div align="center"><h2><%= link_to 'Continue', tutorial_completed_path %></h2></div>
</section>