<div style="margin-left:138px;">
	<div id="login" class="medium-widget left">
		<div class="section-header">Login</div>
		<div class="pad section">
			<%= render '/users/login' %>
		</div>
	</div>

	<div id="register" class="medium-widget left">
		<div class="section-header">Sign Up</div>
		<div class="pad section">
			<%= render '/users/signup' %>
		</div>
	</div>
	<div class="clear-both"></div>
</div>