<div style="margin-left:138px;">
	<div id="login" class="ui-widget ui-corner-all medium-widget left ">
		<div class="pad ui-widget-header">Login</div>
		<%= render '/users/login' %>
	</div>

	<div id="register" class="ui-widget ui-corner-all medium-widget left">
		<div class="pad ui-widget-header">Sign Up</div>
		<%= render '/users/signup' %>
	</div>
	<div class="clear-both"></div>
</div>