<h1>
  Welcome <% if logged_in? then -%><%= current_user.login %><% else -%>to Shumarks<%end -%>! 
</h1>

<p>
  Ever come upon a link that you wish you could save for later? Bookmarks were designed for sites you frequent. Most of 
  the time, you will only look at these links once and never had to worry about it. Introducing Shumarks! Our goal is to
  simplify this process. Imagine: just right-click a link, click "Shumark it!", now you can access the link from any
  computer, and once you've looked at the link, it goes away from your active queue.
</p>
