<div style="float:left; width:80%;">
	<%= render '/links/index' %>
</div>


<div style="float:right; width:20%; text-align:right;">
	<h4>Following <%= current_user.users.length %> people</h4>
	<% for following in current_user.users -%>
		<div>
			<%= link_to "#{following.login} (#{following.links.length})", queue_path(following.login)%>
		</div>
	<% end -%>
</div>

<div style="clear:both"></div>
<div style="font-weight:bold;font-size:18px">Automatically share your Shumarks!</div>
<div><span class="sm-twitter"></span><div id="login_with_twitter"></div></div><div><span class="sm-facebook"></span>Login with Facebook</div>


<script type="text/javascript">
	function parseResponse(data)
{
  if (!data[0])
{
	$("#login_with_twitter").html('<a href="http://localhost:3001/login">Login with Twitter</a>');
}
else
{
	$("#login_with_twitter").html('<img alt="Default_profile_6_normal" height="24" src="' + data[1] + '" width="24" /> Logged in as <strong>@' + data[2] + '</strong>. <a href="http://localhost:3001/logout">Log out</a> ');

}
}

	</script>
 <script type="text/javascript" 
         src="http://localhost:3001/account">
 </script>
