<div style="font-weight:bold; font-size:18px" align="center">
	Shumarks is the easiest way to bookmark and share articles you're reading on the web. 
</div>

<%= render 'credentials' %>

<div style="clear:both; padding:10px 30px;margin:0 0 0 75px;">
	<img src="/images/123.png" alt="steps to shumarking" />
</div>
<script type="text/javascript">
	// increase the default animation speed to exaggerate the effect
	$.fx.speeds._default = 1000;
</script>
