<div>
	Shumarks is the easiest way to bookmark and share articles you're reading on the web. With one click, you can publish your favorite articles to your personal Shumark page and share them via Twitter, Facebook and LinkedIn. Shumarks also allows your friends to follow what you're reading via RSS feeds and email digests. Shumarks saves you time and creates a new mechanism for content discovery. Just Shumark and share!
</div>

<%= render 'credentials' %>

<div style="clear:both; padding:10px 30px;margin:0 0 0 75px;">
	<img src="/images/123.png" alt="steps to shumarking" />
</div>
<script type="text/javascript">
	// increase the default animation speed to exaggerate the effect
	$.fx.speeds._default = 1000;
</script>
