<div align="center">
	<h2>
		Shumarks is the easiest way to bookmark and share articles you're reading on the web. 
	</h2>
</div>

<%= render '/home/credentials' %>

<div align="center">
	<img src="/images/123.png" alt="steps to shumarking" />
</div>
