<p id="twitter-notice"></p>

<script type="text/javascript">
	var twitter_notice = jQuery('#twitter-notice');
	twitter_notice.append('Posting to Twitter... ');

	var sm_link = "<%= @link_redirect %>";
	var sm_title = "<%= @link.short_name(100) %>";

	twttr.anywhere(function (T) {
		if (T.isConnected()) {
			T.Status.update(sm_title + " - " + sm_link);
			twitter_notice.append('<span style="color: #008500; font-weight: bold">done!</span>');
		} else {
			twitter_notice.append('<span style="color: #850000; font-weight: bold">failed!</span> (you\'re no longer logged into Twitter via Shumarks)');
		}
	});
</script>