<table class="linksTable">
  <tr>
    <th>Link</th>
    <th>Added</th>
    <th>Delete</th>
  </tr>
  <% for link in @links -%>
    <%= render link %>
  <% end -%>
  <tr>
    <td colspan="3" id="pastLinks">
      Past Links
    </td>
  <tr>
  <% for link in @past_links -%>
    <%= render link %>
  <% end -%>
</table>
