<tr>
  <td><%= link_to link.name, view_link_path(link), :class => 'link'%></td>
  <td><%= link.created_at.in_time_zone.strftime('%I:%M%p, %m/%d/%Y') %></td>
  <td class="delete"><%= link_to 'X', delete_link_path(link) %></td>
</tr>
