<p>Posting to Shumarks... <span style="color: #008500; font-weight: bold">done!</span></p>

<% if @post_to_twitter %>
	<%= render 'links/bookmarklet_twitter' %>
<% end %>

<% if @post_to_fb %>
	<%= render 'links/bookmarklet_facebook' %>
<% end %>